body{
 background-color: rgb(237, 237, 237); 
 font-family: 'Noto Sans JP', sans-serif;
}
nav{
  background:none;
}
.logo{
  filter: grayscale(100%);
  background-attachment: fixed;
}
.top{
  width: 100%;
  filter: grayscale(100%);
  transition: 1s;
  border-radius: 20px 20px 20px 20px;
}
.top:hover{
  filter: grayscale(0%);
}
.card{
  background: none;
  border: none;
  border-radius: 0px;
  margin: 10px;
}
.cont{
  margin-top: 100px;
}
.card-title{
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 100;
  font-size:200;
  text-align: center;
  border-bottom: 1px solid rgb(237, 237, 237); 
  transition: 3s;
  width: 100%;
}
.card-title:hover{
 font-weight: 300;
 color: aquamarine;
}
.mains{
  width: 100%;
  filter: grayscale(100%);
}
.title{
  text-align: center;
  font-weight: 100;
  margin-top: 100px;
}